@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

html, option, select{
    font-family: 'Roboto Mono', monospace;    
}

$spacer: 5px;

$black: #000000;
$white: #ffffff;
$primary: #00b4ff;
$warning: #ffb24f;
$danger: #ff704f;
$success: #4ad872;
$inactive : #d7d7d7;

$txt-sm: 12pt;
$txt-md: 16pt;
$txt-lg: 24pt;
$txt-xl: 36pt;
$txt-xxl: 72pt;
$txt-xxxl: 100pt;
