<template>
    <div id="body" class="wrapper t-s-md" style="overflow: scroll">
        <div class="p-a-lg t-c-success ">
        ${name}-MacBook-Pro:~ ${name}$ cd documents/GitHub/click-enter/<br>
        <div repeat.for="reply of replies">
                ${reply}
        </div>
        <div if.bind="canInput">
        ${name}-MacBook-Pro:click-enter ${name}$ <input value.bind="cmdInput" keypress.trigger="submit($event)" type="text" value="" class="t-s-md t-c-success" focus.one-way="canInput" style="width: 50%;outline: 0;background: transparent; border: 0px"><!-- <span class="bg-c-inactive e-blink" style="width: 5px">&nbsp;</span> -->
        </div>
    </div>
    </div>
</template>